* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --heading-font: "Sen", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* commons */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 24px;
    min-width: 118px;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 50px;
    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    font-family: var(--heading-font);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.desc {
    color: #5f5b53;
    font-style: normal;
    font-weight: 400;
}

.desc.level-1 {
    font-size: 1.8rem;
    line-height: 1.66;
}

.desc.level-2 {
    font-size: 1.6rem;
    line-height: 1.75;
}

.desc.level-3 {
    font-size: 1.4rem;
    line-height: 1.85;
}

.line-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
}

.line-clamp.max-line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* header */
.header {
    padding: 36px 0 12px;
    background: #fffcf4;
    z-index: 1;
}

.header.fixed {
    position: sticky;
    left: 0;
    top: -24px;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    padding: 8px 21px;
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}

.header .nav a:not(.active):hover {
    color: #171100;
    -webkit-text-stroke: 1px currentColor;
}

.header .nav .active {
    position: relative;
    color: #171100;
    font-weight: 600;
}

.header .nav .active::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .actions .btn {
    margin-left: 50px;
    min-width: 144px;
    font-size: 1.6rem;
}

/* hero */
.hero {
    padding: 65px 0;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .image-block {
    position: relative;
    width: 48%;
}

.hero .image-block .image {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    background: lightgray -448.75px 0px / 218.672% 100% no-repeat;
}

.hero .course {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .course .item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero .course .item + .item {
    margin-top: 22px;
}

.hero .course .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff9e8;
}

.hero .course .item:nth-child(2) .icon {
    background-color: #fcefff;
}

.hero .course .item:nth-child(3) .icon {
    background-color: #ebeaff;
}

.hero .course .icon img {
    width: 24px;
    height: 24px;
}

.hero .info .label {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85;
}

.hero .info .title {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
}

.hero .info-block {
    width: 52%;
    padding-left: 130px;
}

.hero .info-block .heading {
    padding-bottom: 22px;
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    gap: 28px;
    margin: 38px 0 48px 0;
}

.hero .cta-group .hero-cta {
    min-width: 180px;
    padding: 0 34px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.8rem;
    line-height: 64px;
}

.hero .watch-video {
    display: flex;
    align-items: center;
    gap: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
}

.hero .stats {
    margin-top: 8px;
    margin-left: -28px;
}

.hero .stats strong {
    padding: 0 15px 0 28px;
    color: #171100;
    font-family: var(--heading-font);
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.22;
}

/* Popular */
.popular {
    margin: 200px 0;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    width: 458px;
    margin-top: 16px;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
}

.popular-top .control-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.popular-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.popular-item:hover {
    background: #fff;
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular-item .thumb {
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.popular-item .body {
    padding: 16px 22px 22px;
}

.popular-item .row-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.popular-item .title {
    padding-right: 6px;
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
}

.popular-item .rating {
    display: flex;
    align-items: center;
    gap: 6px;
}

.popular-item .rate-score {
    color: #fea31b;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}

.popular-item .row-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.popular-item .price {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
}

.popular-item .booking-cta {
    min-width: 118px;
    line-height: 50px;
}

.popular-item .booking-cta:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* Feedback */
.feedback {
    background: #2e2100;
}

.feedback-item {
    padding: 96px 0;
    display: flex;
    justify-content: space-between;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-item .title {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--heading-font);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.41;
}

.feedback-item .desc {
    margin-top: 4px;
}

.feedback-item .dots {
    display: flex;
    gap: 0 6px;
    margin-top: 28px;
}

.feedback-item .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback-item .dot.active {
    background: #ffb900;
}

.feedback-item .content {
    width: 64%;
}

.feedback-item blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53;
}

/* Feature */
.feature {
    margin-top: 200px;
}

.feature .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature .image-block {
    display: flex;
    gap: 0 30px;
}

.feature .image-block img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.feature .image-block img.lower {
    margin-top: 34px;
}

.feature .info {
    width: 41%;
}

.feature .info .desc {
    margin-top: 16px;
}

.feature .info .feature-cta {
    margin-top: 34px;
    min-width: 137px;
    font-size: 1.6rem;
    color: #fff;
    background: var(--primary-color);
}

/* Feature 2 */
.feature-2 .body {
    flex-direction: row-reverse;
}

.feature-2 .image-block img {
    width: 470px;
    height: 440px;
}

.feature-2 .info {
    width: 49%;
}

/* Blog */
.blog {
    margin-top: 200px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    width: 448px;
    margin: 16px auto 0;
}

.blog .blog-list {
    display: flex;
    gap: 0 30px;
    margin-top: 55px;
}

.blog .blog-list .blog-item {
    width: 33.33%;
    border-radius: 16px;
    background: #fff;
}

.blog .blog-list .blog-item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .blog-item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .blog-item .info {
    padding: 20px 20px 28px;
}

.blog-item .date {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-bottom: 12px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.blog-item .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 4px;
    background: var(--primary-color);
}

.blog-item .date::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    width: calc(100% + 27px);
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog-item .info .title {
    margin-top: 12px;
}

.blog-item .info .title a {
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.blog-item .info .blog-cta {
    margin-top: 12px;
    font-weight: 600;
}

.blog-item .info .blog-cta:hover {
    color: #fff;
    background: var(--primary-color);
}

.blog .dots {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 38px;
}

.blog .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
    cursor: pointer;
}

.blog .dot.active {
    background: var(--primary-color);
    cursor: default;
}

/* Footer */
footer {
    background: #2e2100;
}

footer .row {
    display: flex;
    padding: 96px 0 26px;
    border-bottom: 1px solid #59554b;
}

footer .row .column:first-child {
    width: 35%;
}

footer .row .column {
    width: 21.6%;
}

footer .column .logo {
    height: 34px;
    width: 85px;
}

footer .column .desc {
    margin-top: 18px;
    width: 267px;
    color: #bfbcb2;
}

footer .column .social {
    margin-top: 18px;
    display: flex;
    gap: 0 15px;
}

footer .column .title {
    display: inline-block;
    padding: 0 48px 14px 0;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    border-bottom: 1px solid #59554b;
    margin-bottom: 28px;
}

footer .list li {
    margin-bottom: 12px;
}

footer .list li a {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

footer .list li strong {
    color: #fff;
    font-weight: 600;
}

footer .copyright {
    padding: 28px 0;
}

footer .copyright p {
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}
