* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* commons */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 11px 16px;
    min-width: 144px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75;

    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    opacity: 0.9;
}

/* header */
.header {
    padding: 36px 0 12px;
    background: #fffcf4;
    z-index: 1;
}

.header.fixed {
    position: sticky;
    left: 0;
    top: -24px;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    padding: 8px 21px;
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}

.header .nav a:not(.active):hover {
    color: #171100;
    -webkit-text-stroke: 1px currentColor;
}

.header .nav .active {
    position: relative;
    color: #171100;
    font-weight: 600;
}

.header .nav .active::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .btn {
    margin-left: 50px;
}

/* hero */
.hero {
    padding: 65px 0;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .image-block {
    position: relative;
    width: 48%;
}

.hero .image-block .image {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    background: lightgray -448.75px 0px / 218.672% 100% no-repeat;
}

.hero .course {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .course .item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero .course .item + .item {
    margin-top: 22px;
}

.hero .course .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff9e8;
}

.hero .course .item:nth-child(2) .icon {
    background-color: #fcefff;
}

.hero .course .item:nth-child(3) .icon {
    background-color: #ebeaff;
}

.hero .course .icon img {
    width: 24px;
    height: 24px;
}

.hero .info .label {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85;
}

.hero .info .title {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
}

.hero .info-block {
    width: 52%;
    padding-left: 130px;
}

.hero .info-block .heading {
    padding-bottom: 22px;
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero .info-block .desc {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    gap: 28px;
    margin: 38px 0 48px 0;
}

.hero .cta-group .hero-cta {
    min-width: 180px;
    padding: 17px 34px;
    background-color: var(--primary-color);
    color: #fff;
}

.hero .watch-video {
    display: flex;
    align-items: center;
    gap: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
}

.hero .stats {
    margin-top: 8px;
    margin-left: -28px;
}

.hero .stats strong {
    padding: 0 15px 0 28px;
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.22;
}
